---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

/* The .image-container class needs to be applied to a div wrapped around the image you want to apply this filter to */
.image-container {
    display: inline-block;
    position: relative;
    line-height: 0;
    background: #ffffff;
    border-radius: 130px 160px 90px 220px;
}
.image-container::after {
    border-radius: 130px 160px 90px 220px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    background: rgba(250, 233, 0, 0.62);
    opacity: 1;
}
.image-container > img {
    border-radius: 130px 160px 90px 220px;
    -webkit-filter:  brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
    filter:  brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
    mix-blend-mode: none;
}
